body {
	background-color: #F7FFCC;
	color: #003300;
	font-family: sans-serif;
}

nav {
	background: #006600;
	height: 1.8em;
	font-size: large;	
}

nav  a:hover {
	text-decoration: none;
}

nav ul,nav ul li ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav>ul>li {
	background-color: #006600;
	float: left;
	position: relative;
}

nav ul li a,nav ul li:hover ul {
	display: block;
}

nav ul li ul {
	background-color: #006600;
	box-shadow: 5px 5px #777777;
	display: none;
	position: absolute;
	width: 20em;
	z-index: 100;
}

nav ul li:hover {
	background-color: #00CC00;
}

nav>ul>li>a,nav ul li ul li a, nav>ul>li>form>span,#logoutbutton {
	color: white;
	line-height: 1.8em;
	padding: 0 0.5em;
	text-decoration: none;
	font-weight: bold;
}

#logoutbutton {
	background: none;
	border: none;
	display: inline;
	margin:inherit;
	margin-left:0.5em;
	margin-right:0.5em;
	padding:0;
	font:inherit;
	cursor:pointer;
	height:1.8em;
	font-weight: bold; 
}

h1 {
	clear: both;
}

table, th, td {
	border: 1px solid silver;
	border-collapse: collapse;
}

thead {
	color: black;
	background-color: white;
}

td, th {
	padding-left: 0.2em;
	padding-right: 0.2em;
}

th {
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

tbody tr:nth-child(even) {
	background-color: #FAFAFA;
}

tbody tr:nth-child(odd) {
	background-color: #E6E6E6;
}

label {
	cursor: pointer;
}

input, select {
	display: block;
	font-size: 1.1em;
	margin-bottom: 1em;
	margin-top: 0.2em;
}

input:focus, textarea:focus, select:focus {
	background-color: #FFFFD6
}

input[type='checkbox'], input[type='radio'] {
	display: inline;
}

label span, .fout, .verborgenFout {
	background-color: red;
	border-bottom-right-radius: 0.5em;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
	box-shadow: 5px 5px #777777;
	margin-left: 0.5em;
	padding: 0.5em;
	color: white;
	font-weight: bold;
}

.verborgenFout {
	display:none;
}

label span:empty, .fout:empty {
	display: none;
}

.zonderbolletjes {
	list-style: none;
	margin-bottom: 0.2em;
	padding: 0;
}

.zonderbolletjes li {
	display: inline;
	margin-right: 0.2em;
}

.fullwidth {
	width: 100%;
}

.knop {
	text-decoration: none;
}

@media print {
	nav {
		display: none;
	}
}

a {
	color: black;
}

dt {
	clear:left;
	float: left;
	width: 15em;
}

dd {
	margin-left: 15em;
	font-weight: bold;
}

blockquote {
	margin-left: 0;
	font-style: italic;
}


#logoutform {
	display: inline;
}

@media ( min-width :40em) {
	.pagineren a {
		font-weight: bold;
		color: white;
		background-color: green;
		border-bottom-right-radius: 0.5em;
		border-top-left-radius: 0.5em;
		border-top-right-radius: 0.5em;
		padding: 0.4em;
		text-decoration: none;
	}
}

.pagineren a:hover {
	text-decoration: underline;
}