<!doctype html>
<html lang='nl' xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Filiaal per id')"></head>
<body>
	<nav th:replace='fragments::menu'></nav>
	<div id="filiaalBestaatNiet" class="verborgenFout">Filiaal bestaat niet.</div>
	<div id="technischProbleem" class="verborgenFout">Technische fout, contacteer de helpdesk.</div>
	<div id="ongeldigeId" class="verborgenFout">Ongeldige id.</div>
	<h1>Filialen per id</h1>
	<label>Id: <input id='id' required type='number' min='1' autofocus /></label>
	<button id='zoeken'>Zoeken</button>
	<dl>
		<dt>Naam</dt>
		<dd id='naam'></dd>
		<dt>Adres</dt>
		<dd id='adres'></dd>
	</dl>
	<script th:src='@{/js/filiaalPerId.js}'></script>
</body>
</html>
